/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- MIXINS DE STYLES PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
/*------- Remplacement - Adaptation Mixins Compass -------*/
@mixin clearfixsusy3 {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin clearfix() {
  &::after,
  &::before {
    content: "";
    display: table;
    clear: both;
  }

  &::after {
    clear: both;
  }
}
@mixin reset-box-model {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
@mixin horizontal-list-container {
  @include reset-box-model;
  @include clearfix;
}
@mixin horizontal-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
@mixin horizontal-list-item {
  display: block;
  float: left;

  &:last-child {
    margin-right: 0;
  }
}
@mixin background-size($taille-bg: auto) {
  //Possibles options auto,length,percentage,cover,contain,initial,inherit
  //préfixage via Gulp autoprefixer aprés compilation
  background-size: $taille-bg;
}
$imagedir: '../images/'; // definir ici le chemin vers le dossier image
@mixin backgroundImage($filename,$couleur:transparent,$position:top left,$repeat: no-repeat) {
  background: $couleur url('#{$imagedir}#{$filename}') $position $repeat;
}
@mixin maskImage($filename, $taille: 100%, $mode: alpha, $couleurFinale: transparent,$repeat: no-repeat,$position:0 0,$repeat: no-repeat) {
  /*
Utilise la mixin backgroundImage pour l'image de BG. Bien spécifier les valeurs même par défaut Sinon
problème de distribution des valeurs. Utiliser un visuel PNG blanc comme base pour meilleure
application des couleurs.
Ne pas utiliser //background-size: contain; si problèmes
Ne pas utiliser d'image pour le background, couleur suffit
Support partiel par Edge à partir de v42
  */
  //background: url('#{$imagedir}#{$filename}') $position $repeat $couleurFinale;
  background: $couleurFinale;
  mask-image: url('#{$imagedir}#{$filename}');
  mask-mode: $mode;
  mask-size: $taille;
  mask-repeat: $repeat;
  }
@mixin backgroundSVGandColor($filename,$color:red) {
  /* background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url('#{$imagedir}#{$filename}')" color="$color" ');

*/
  //En travaux !!!
}
@mixin backgroundImageTransparentRGBA($filename,$color, $opacity,$couleur:transparent,$position:top left,$repeat: no-repeat) {
  /*position: relative;*/
  background: linear-gradient(rgba($color, $opacity),rgba($color, $opacity)),$couleur url("#{$imagedir}#{$filename}") $position $repeat;
}
@mixin backgroundImageOpacity($filename,$couleur:transparent,$position: top,$repeat: no-repeat,$left:0,$bgsize:contain) {
  &::before {
    background: $couleur url('#{$imagedir}#{$filename}') $position $repeat;
    position: absolute;
    top: 0;
    left: $left;
    content: "";
    opacity: 0.05;
    width: 100%;
    height: 100%;
    display: block;
    background-size: $bgsize;
    z-index: -10; //Sinon liens inopérants
  }
}
@mixin backgroundRGBA($color, $opacity) {
  background: rgba($color, $opacity);
}
/*---------- PIE pour CSS3 IE --------------*/
@mixin PIE {
  behavior: url("./../sites/all/libraries/PIE/PIE.htc");
}
/*-------- LAYOUT CSS3 --------------*/
@mixin colonnes($nb-col:3) {
  -webkit-column-count: $nb-col;
  -moz-column-count: $nb-col;
  column-count: $nb-col;
}
/*------------  TITRES ----------------*/
@mixin titre_overlay() {
  /*Positionnement du titre sur l'image pleine page*/
  z-index: 2;
  position: relative;
  margin: 0;
  /*padding: 0;*/
  /*            top: 200vw;//15%
                        left: 0;
                        right: 0;
                        bottom: 1054.4vw;//83%*/
  @include breakpoint(($desktop,$desktopwide)) {
    display: inline-block;
    margin: 0 0 0 span(0.1);
    top: 0; //120% 17vw mieux comme ça avec titre en haut et non en bas de la photo
    /*                left: 0;
                                right: 60vw;//60%
                                bottom: -10.4vw;//-29.5%*/
    transform: translate(0%, 5%);
    max-height: 2.7vw;
  }
  @include breakpoint(($tablet,$tabletlandscape,$tablet-hd,$tabletlandscape-hd,$mobilelandscape)) {
    display: inline-block;
    margin: 0 0 0 span(0.1);
    top: 0; //120% 17vw mieux comme ça avec titre en haut et non en bas de la photo
    transform: translate(0%, 5%);
    max-height: 31vw;
  }

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
/*------- GESTION DU TEXTE -------------*/
/*
https://openweb.eu.org/articles/la-gestion-de-la-cesure-en-css
https://www.creativejuiz.fr/blog/css-css3/controles-fin-des-cesures-css4-text
*/
@mixin txt-cesure($typecesure : break-word,$typecesure2 : break-word) {
  word-wrap: $typecesure;
  word-break: $typecesure2;
  overflow-wrap: break-word;
}
@mixin txt-ellipse($hyphenation:auto,$surplustxt:ellipsis) {
  overflow: hidden;
  hyphens: $hyphenation;
  text-overflow: $surplustxt;
  hyphenate-limit-chars: 6 3 2; //CSS4 - expérimental
  hyphenate-character: "\2010"; //CSS4 - expérimental
  hyphenate-limit-zone: em(20px);
}
@mixin txt-colonnes($param1:avoid-column,$param2:avoid) {
  break-inside: $param1; //empêche césure au milieu de l'élément
  page-break-inside: $param2;
  /* fix for Firefox */
  break-after: $param1;
  break-before: $param1;
}
// ==========
// TRANS-PREP
// -----
// Gives backface visibility hidden to remove flickering effect on Webkit browsers
// http://blog.teamtreehouse.com/increase-your-sites-performance-with-hardware-accelerated-css
// ==========
@mixin trans-prep {
  // backface visibility
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  // Resets perspectives
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
/*-------- IMAGES ADAPTABLES -----------*/
@mixin adaptable-img {
  max-width: 100%;
  height: auto; //proportions
  max-height: 100%;
  object-fit: cover; //permet que l'image occupe tout l'espace mais il faut définir une taille
  width: 100%;
  @-moz-document url-prefix() {
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
@mixin img-centered {
  display: block;
  margin: 0 auto;
  @-moz-document url-prefix() {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
@mixin zoom-css3($coeffzoom:1) {
  position: relative;
  transform: translateZ(0);
  /* activation de l'AM */
  transition: all 100ms ease-in;
  transform: scale($coeffzoom);
  z-index: 20;
}
@mixin zoom-css3-hover($coeffzoom:1.05) {
  transform: translateZ(0);
  /* activation de l'AM */
  transform: scale($coeffzoom);
  z-index: 20;
  transition: all 100ms ease-in;
}
@mixin transition-hover($duree: 0.5s,$type: ease) {
  transition: all $duree $type;
}
@mixin image-overlay($filename,$position:0 0,$repeat: repeat) {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: transparent url("#{$imagedir}#{$filename}") $position $repeat;
}
/*----------  FORMULAIRES RWD -----------*/
@mixin FormulaireRWD($largeurFormulaire:65%,$largeurChamp:98%) {
  form {
    width: $largeurFormulaire;
    margin: 0 auto;
    padding: 0;
    @include arrondis;
  }

  label {
    font-size: smaller;
  }

  p {
    padding: 0;
    margin: 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="submit"],
  select {
    width: $largeurChamp;
    display: block;
    padding: 0;
    margin: 0;
    font-family: $FontRaleway;
  }

  input[type="submit"] {
    margin: 0 auto;
    display: block;
    @include txt-cesure;
  }

  .form-item {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
}
/*--------- MASQUAGE ELEMENTS ---------*/
@mixin visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
@mixin blinkEffect($opaciteDepart:1.0,$opaciteMedium:0.0,$opaciteFinal:1.0) {
  @-moz-keyframes blinker {
    0% {
      opacity: $opaciteDepart;
    }

    50% {
      opacity: $opaciteMedium;
    }

    100% {
      opacity: $opaciteFinal;
    }
  }
  @-webkit-keyframes blinker {
    0% {
      opacity: $opaciteDepart;
    }

    50% {
      opacity: $opaciteMedium;
    }

    100% {
      opacity: $opaciteFinal;
    }
  }
  @keyframes blinker {
    0% {
      opacity: $opaciteDepart;
    }

    50% {
      opacity: $opaciteMedium;
    }

    100% {
      opacity: $opaciteFinal;
    }
  }
}
/*------- EFFETS VISUELS GENERIQUES--------------*/
@mixin forme-habillage($forme:inset(),$marge-forme:0) {
  //     circle()     ellipse()     inset()     polygon() , fonctionne uniquement sur élement flottant
  shape-outside: $forme;
  -webkit-shape-outside: $forme;
  -moz-shape-outside: $forme;
  shape-margin: $marge-forme;
  -webkit-shape-margin: $marge-forme;
  -moz-shape-margin: $marge-forme;
}
@mixin img-border-shadow ($margin : 0.3em, $bordersize:0.5em, $bordercolor : white,$shadowcolor : #AAAAAA) {
  margin: $margin;
  border: $bordersize solid $bordercolor;
  -moz-box-shadow: $shadowcolor 0px 0px 5px;
  -webkit-box-shadow: $shadowcolor 0px 0px 5px;
  box-shadow: $shadowcolor 0px 0px 5px;
}
@mixin cadre-ombre($epaisseur-cadre:0.5em,$couleur-cadre:#fff,$couleur-ombre:#AAAAAA) {
  border: $epaisseur-cadre solid $couleur-cadre;
  -moz-box-shadow: $couleur-ombre 0px 0px 0.5em;
  -webkit-box-shadow: $couleur-ombre 0px 0px 0.5em;
  box-shadow: $couleur-ombre 0px 0px 0.5em;
}
@mixin ombrage ($contour:0.5em,$decalage-horizontal:0.5em,$decalage-vertical:0.5em,$couleur-ombre:#aaa) {
  border: $contour solid #fff;
  box-shadow: $decalage-horizontal $decalage-vertical 0.3em $couleur-ombre;
}
@mixin ombrage-interne($decalage-horizontal:0.5em,$decalage-vertical:0.5em,$profondeur:0.3em,$couleur-ombre:#aaa) {
  -moz-box-shadow: inset $decalage-horizontal $decalage-vertical $profondeur $couleur-ombre;
  -webkit-box-shadow: inset $decalage-horizontal $decalage-vertical $profondeur $couleur-ombre;
  box-shadow: inset $decalage-horizontal $decalage-vertical $profondeur $couleur-ombre;
}
@mixin ombrage-bas ($decalage-horizontal:0.5em,$decalage-vertical:0.5em,$force-degrade:0.3em,$couleur-ombre:#aaa) {
  -moz-box-shadow: $decalage-horizontal $decalage-vertical $force-degrade $couleur-ombre;
  -webkit-box-shadow: $decalage-horizontal $decalage-vertical $force-degrade $couleur-ombre;
  box-shadow: $decalage-horizontal $decalage-vertical $force-degrade $couleur-ombre;
}
@mixin ombrage-effet-incurve($PositionHalo:-1em,$LargeurHalo:10em,$HauteurHalo:2em) {
  -moz-box-shadow: 0 $PositionHalo $LargeurHalo $HauteurHalo #FFF, 0 0.8em 0.7em -0.2em rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 $PositionHalo $LargeurHalo $HauteurHalo #FFF, 0 0.8em 0.7em -0.2em rgba(0, 0, 0, 1);
  box-shadow: 0 $PositionHalo $LargeurHalo $HauteurHalo #FFF, 0 0.8em 0.7em -0.2em rgba(0, 0, 0, 1);
}
@mixin table-tr-ombrage-bas {
  -moz-box-shadow: 1px 2px 2px #aaa;
  -webkit-box-shadow: 1px 2px 2px #aaa;
  box-shadow: 1px 2px 2px #555;
}
@mixin ombrage-bloc($decalage-horizontal:0.5em,$decalage-vertical:0.5em,$force-degrade:0.3em,$couleur-ombre:#aaa) {
  box-shadow: $decalage-horizontal $decalage-vertical $force-degrade $couleur-ombre;
}
@mixin ombrage-texte($angle:0.5em,$distance:0.2em,$flou:0.6em,$couleur:#1a181a) {
  text-shadow: $angle $distance $flou $couleur;
  filter: dropshadow(color=$couleur, offx=$angle, offy=$distance);
}
@mixin ombrage-table-actu ($decalage-horizontal:0em,$decalage-vertical:0em,$force-degrade:0.3em,$diffusion-degrade:0.1em,$couleur-ombre:$prune) {
  box-shadow: $decalage-horizontal $decalage-vertical $force-degrade $diffusion-degrade $couleur-ombre;
}
@mixin opacity ($opacite:1) {
  opacity: $opacite;
  /*0.6*/
  -moz-opacity: $opacite;
  -ms-filter:  "alpha(opacity=$opacite)";
  /* IE 8 */
  filter : alpha(opacity=$opacite);
  /* IE < 8 */
  -khtml-opacity: $opacite;
}
@mixin arrondis ($angle : 0.5em) {
  -moz-border-radius: $angle;
  -webkit-border-radius: $angle;
  border-radius: $angle;
}
/* ------ ANIMATIONS CSS3 -----*/
@mixin rollover-effect ($couleurRollover: $orange-fonce, $decoration: none) {
  //démarrer avec un a{}
  /*Effet Bounce to Top*/
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
  padding: span(0.01) span(0.03);

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $couleurRollover;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  &:hover {
    text-decoration: $decoration;

    &:before {
      transform: scaleY(1);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
}
@mixin rollover-underline( $couleur : $gris-anthracite) {
  //https://codepen.io/origine/pen/KVzpYm
  position: relative;
  &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        background-color: $couleur;

        transition: transform 0.3s;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}
@mixin anim-coulisseX($duree:1s,$iterations:10,$starttranslateX:0,$midtranslateX:1vw,$finaltranslateX:0) {
  animation-name: coulisse;
  animation-duration: $duree;
  animation-timing-function: linear;
  animation-iteration-count: $iterations;
  @keyframes coulisse {
    0% {
      transform: translateX($starttranslateX);
    }

    50% {
      transform: translateX($midtranslateX);
    }

    100% {
      transform: translateX($finaltranslateX);
    }
  }
}
@mixin clignote($duree:1s,$startopacity:1.0,$midopacity:0.0,$finalopacity:1.0) {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: $duree;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: $duree;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: $duree;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @-moz-keyframes blinker {
    0% {
      opacity: $startopacity;
    }

    50% {
      opacity: $midopacity;
    }

    100% {
      opacity: $finalopacity;
    }
  }
  @-webkit-keyframes blinker {
    0% {
      opacity: $startopacity;
    }

    50% {
      opacity: $midopacity;
    }

    100% {
      opacity: $finalopacity;
    }
  }
  @keyframes blinker {
    0% {
      opacity: $startopacity;
    }

    50% {
      opacity: $midopacity;
    }

    100% {
      opacity: $finalopacity;
    }
  }
}
//https://codepen.io/skeate/pen/YPyqWd
@mixin textedansformeronde($radius) {
  min-width: #{$radius}vw;
  min-height: #{$radius*2}vh;
  border-radius: #{$radius}em;

  &::before {
    content: '';
    height: 100%;
    width: 50%;
    float: left;
    shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0% 100%);
  }

  > a::before {
    content: '';
    height: 100%;
    width: 50%;
    float: right;
    shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%);
  }
}
/*/
/////////////// BORDER RIGHT \\\\\\\\\\\\\\\\*/
@mixin border-R-bleu {
  border-right: em(1px) solid $bleu-turquoise;
}
@mixin border-R-grisclair {
  border-right: em(1px) solid $gris-clair;
}
@mixin border-R-vert {
  border-right: em(1px) solid $vert;
}
@mixin border-R-violet {
  border-right: em(1px) solid $violet;
}
@mixin border-R-anthracite {
  border-right: em(1px) solid $gris-anthracite;
}
@mixin border-R-rose {
  border-right: em(1px) solid $rose-fushia;
}
@mixin border-R-jaune {
  border-right: em(1px) solid $jaune;
}
@mixin border-R-rouge {
  border-right: em(1px) solid $rouge;
}
@mixin border-R-orangePF {
  border-right: em(1px) solid $orange-fonce;
}
@mixin border-R-orange {
  border-right: em(1px) solid $orange;
}
/*/
/////////////// BORDER COLONNE 2 \\\\\\\\\\\\\\\\*/
@mixin border-rouge-bleu {
  border-left: em(1px) solid $rouge;
  border-right: em(1px) solid $bleu-turquoise;
}
@mixin border-rose-bleu {
  border-left: em(1px) solid $rose-fushia;
  border-right: em(1px) solid $bleu-turquoise;
}
@mixin border-noir-vert {
  border-left: em(1px) solid $gris-anthracite;
  border-right: em(1px) solid $vert;
}
@mixin border-bleu-violet {
  border-left: em(1px) solid $bleu-turquoise;
  border-right: em(1px) solid $violet;
}
@mixin border-bleu-gris {
  border-left: em(1px) solid $bleu-turquoise;
  border-right: em(1px) solid $gris-anthracite;
}
@mixin border-vert-violet {
  border-left: em(1px) solid $vert;
  border-right: em(1px) solid $violet;
}
@mixin border-anthracite-anthracite {
  border-left: em(1px) solid $gris-anthracite;
  border-right: em(1px) solid $gris-anthracite;
}
@mixin border-anthracite-orangePF {
  border-left: em(1px) solid $gris-anthracite;
  border-right: em(1px) solid $orange-fonce;
}
@mixin border-orangePF-orangePF {
  border-left: em(1px) solid $orange-fonce;
  border-right: em(1px) solid $orange-fonce;
}
@mixin border-orange-violet {
  border-left: em(1px) solid $orange;
  border-right: em(1px) solid $violet;
}
@mixin border-violet-orange {
  border-left: em(1px) solid $violet;
  border-right: em(1px) solid $orange;
}
@mixin border-violet-fuschia {
  border-left: em(1px) solid $violet;
  border-right: em(1px) solid $rose-fushia;
}
@mixin border-fuschia-violet {
  border-left: em(1px) solid $rose-fushia;
  border-right: em(1px) solid $violet;
}
/*/
/////////////// BORDER LEFT \\\\\\\\\\\\\\\\*/
@mixin border-L-bleu {
  border-left: em(1px) solid $bleu-turquoise;
}
@mixin border-L-grisclair {
  border-left: em(1px) solid $gris-clair;
}
@mixin border-L-vert {
  border-left: em(1px) solid $vert;
}
@mixin border-L-violet {
  border-left: em(1px) solid $violet;
}
@mixin border-L-anthracite {
  border-left: em(1px) solid $gris-anthracite;
}
@mixin border-L-rose {
  border-left: em(1px) solid $rose-fushia;
}
@mixin border-L-jaune {
  border-left: em(1px) solid $jaune;
}
@mixin border-L-rouge {
  border-left: em(1px) solid $rouge;
}
@mixin border-L-orangePF {
  border-left: em(1px) solid $orange-fonce;
}
@mixin border-L-orange {
  border-left: em(1px) solid $orange;
}
/*------- HACK pour Navigateurs -------------*/
@mixin hack-Webkit($element:table) {
  //ciblage de webkit  - choisir à quel élément appliquer le hack
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #{$element} {
      margin: 0 0 span(0.1);
      display: block;
      min-width: 100%; //pour chrome
    }
  }
}
@mixin hack-Firefox($element:li) {
  //ciblage de Firefox et - choisir à quel élément appliquer le hack
  @-moz-document url-prefix() {
    #{$element} {
      margin: 0 0 span(0.1);
      display: inline-block;
      width: 100%;
    }
  }
}
@mixin hack-IE() {
  //ciblage de IE10+
  @media screen and (min-width:0\0) {
    display: inline-block;
    width: 100%;
  }
}
@mixin hack-Edge() {
  //ciblage de MS Edge <79 Chromium
  @supports (-ms-ime-align: auto) {
    display: inline-block;
    width: 100%;
  }
}
