// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE ACTUALITE LISTE      |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.node--type-page-actualites-globales{order:2;}
    #zone-2.node--type-page-actualites-globales{order:1;}
    #zone-3.node--type-page-actualites-globales{order:3;}
    @include breakpoint ($desktop){
        #zone-1.node--type-page-actualites-globales{order:1;}
        #zone-2.node--type-page-actualites-globales{order:2;}
        #zone-3.node--type-page-actualites-globales{order:3;}
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #zone-2.node--type-page-actualites-globales{}
    }

}
/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.type-page-actualites-globales{
  //Pour marge au dessus illustration voir _layout-nodes
    #illustration-pleinepage{
        min-height: 35vw;
        max-height: 90vw;
        overflow: hidden;
        position:relative;
        img{
            transform: translate(0%,0%);
            @include adaptable-img();
        }
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            min-height: 25vw;
            max-height: 30vw;
            img{
                transform: translate(0%,-25%);
            }
        }
    }

}// Fin zone-illustration
#zone-1.type-page-actualites-globales{
    >.content{
        column-count: 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            column-count: 1;
            column-fill: balance;
            white-space: normal;
            padding: span(0.1);
        }
    }
    aside.liste-actualite{
        .bef-exposed-form{
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                display:inline-block;
                column-count: 4;
                column-fill: balance;
                white-space: normal;
                padding: span(0.02);
            }
            div.form-item{
                margin: 0 0 span(0.01) 0;
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                    @include  txt-colonnes();

                    padding: span(0.35);
                }
            }
        }
        .item-list{
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                width: span(12);
            }
            ul.liste-actus, ul.actu-lycee{
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                    /*                    column-count: 6;
                                        column-fill: auto;
                                        white-space: normal;*/
                    //Flex pour avoir classement horizontal
                    display: flex;
                    flex-wrap:wrap;
                    padding: 0 0 0 span(0.1);
                }
                li{
                    padding: 0;
                    margin: span(0.1) 0;
                    @include breakpoint(($desktop,$desktopwide)){
                        /* Définir le nombre de colonnes via flex*/
                        flex: 0 0 18%; // 21% = 4 col , 18% = 5 col
                        /*@include hack-Edge;*/
                        @include hack-IE;
                        @include  txt-colonnes();
                        margin: 0 span(0.1) span(0.1) 0;
                        display: inline-block;
                        width: span(1.8);

                        :not(img):not(a):not(.complement){
                            //padding: span(0.1);
                            //Ne fonctionen pas sous chrome ajout à chaque éléments.

                        }
                        span.titre-actu, span.extrait-actu{
                          padding: span(0.1);
                        }

                    }
                    @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
                      /* Définir le nombre de colonnes via flex*/
                      flex: 0 0 40%; // 21% = 4 col , 18% = 5 col
                      @include hack-IE;
                      @include  txt-colonnes();
                      margin: 0 span(0.1) span(0.1) 0;
                      display: inline-block;
                      width: span(1.8);
                    }
                    a{
                        display: block;
                        overflow: hidden;// Pour empêcher image de sortir
                    }
                }
            }
        }
      footer{//Lien vers archives contenu dans le footer de la vue
        width: span(5);
        margin: 0 auto;
        a{
          display: block;
          width: span(5);
          margin: 0 auto;
        }
      }// Fin footer
      nav.pager{
        //Utiliser PAgination complète en réécrivant les étiquettes dans ÉTIQUETTES DE LIEN DE PAGINATION
        //de l'affichage de la vue concernée
          @include clearfixsusy3;
            //column-span: all;//la pagination utilise toute la largeur

          ul.pager__items{
            display: flex;
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
              width: span(4);
              margin: 0 auto;
              padding: span(0.1);
            }
            li{ //Taille des textes du pager
              @include font-size(s); //utilisation de typey
                @include horizontal-list-item();
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                  @include font-size(l); //utilisation de typey
                }
                @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
                  @include font-size(m); //utilisation de typey
                }
            }
          }// Fin ul.pager__items
      }// Fin nav.pager
    }// Fin aside
}//Fin #zone-1
/*######-------- ||| STYLE ||| --------######*/
//Pour H1 voir _page-lycee.scss
h1.titre-page-actualites{
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        top: em(10px);
        left: em(10px);
    }
}
/*¤¤¤ STYLES COMMUNS ¤¤¤*/

#zone-1.type-page-actualites-globales,
#zone-2.type-page-actualites-globales,
#zone-3.type-page-actualites-globales{
    p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
    }
    u{
        font-weight: bold;
        color: $bleu-turquoise;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $orange-fonce;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $vert;
    }
    a{
        text-decoration: none;
        color: $orange-fonce;
        &:hover{
            text-decoration: underline;
        }
    }
    strong{
        color: $orange-fonce;
    }
}


/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/
#zone-1.type-page-actualites-globales{

      aside.liste-actualite{
        //Style du filtrage de la vue
        .bef-exposed-form{
            div.form-item{
                background: $gris-clair-typo;
                color: $blanc-casse;
                text-align: center;
                cursor: pointer;
                label{
                    cursor: pointer;
                    &:after{
                        /*                        content: "PôLE";
                                                color:$orange-fonce;
                                                @include font-size(l);//utilisation de typey
                                                font-family: $FontRaleway;*/
                    }
                }
                //&:hover:not(#edit-term-node-tid-depth-limited-All-wrapper),
                // Exclusion du hover pour le choix Tout - Fonctionnel
                &:hover:not(:first-child)
                {
                    @include backgroundImage(('BG/BG_Filtres_Exposes.png'), transparent, center 0vw , no-repeat );
                    background-size:60%;
                    background-color: $bleu-turquoise;
                    color: $gris-clair;
                    label{
                        @include opacity(0.45);
                    }
                }
            }
        }
        .views-exposed-form{
            //Masquer la roue bleue de drupal
            .ajax-progress-throbber {
                display: none;
            }
            .views-exposed-widget{
                padding: 0;
                margin: 0;
                float: none;
            }
            //Style du bouton de filtrage
            .views-submit-button{
                float: none;
                margin: 0 auto;
                width:25vw;
                padding:0;
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                    width: 10vw;
                }
                input[type="submit"] {
                    background: $orange-fonce;
                    border: em(1px) dashed $gris-anthracite;
                    color: $blanc-casse;
                    @include font-size(l);//utilisation de typey
                    font-family: $FontArvo;
                }
            }
        }
        //Masquage du module additionnel du module (bug peut être corrigé via patch)
        .view-filters{
            #edit-children-of-wrapper{
                display: none;
                visibility: hidden;
            }
        }
        footer{//Lien vers archives contenu dans le footer de la vue
          a{
            color: $gris-clair-typo;
            @include font-size(l);//utilisation de typey
            text-decoration: none;
            text-align: center;
            box-shadow: $bleu-turquoise 0px em(-3px) 0px inset;
            transition: box-shadow 0.3s ease-in-out 0s;
            &:hover{
                  box-shadow: $bleu-turquoise 0px em(-22px) 0px inset;
                  color: $blanc-casse;
            }
          }
        }
        //Style des éléments de la vue
        ul.liste-actus, ul.actu-lycee{
            li{
                list-style: none;
                color: $blanc-casse;
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                    @include ombrage-bloc(0em,0em,0.5em,$gris-anthracite);

                }

                &.tid-10{ //Annonce ponctuelle
                    background: $gris-clair-typo;
                    *{
                        //color: $gris-anthracite;//cas particulier du fond clair
                    }
                }
                &.tid-9{ //Revue de presse
                    background: $bleu-turquoise;
                }

                a{
                    color: $blanc-casse;
                    text-decoration: none;
                    font-weight: bold;
                    @include font-size(l);//utilisation de typey

                }
                span{
                    display: block;
                    font-weight: bold;
                }
                span.section-euro{
                    //classe ajoutée dans la vue - réécriture du champ
                    border: em(1px) dashed;//couleur héritée du LI parent
                }
                span.extrait-actu {
                    //classe ajoutée dans la vue - réécriture du champ
                    font-weight:initial; /*we revert back the inherited style*/
                    @include font-size(s);//utilisation de typey
                }
                /*                    &:matches(.complement){
                                        font-weight: initial;
                                    }*/

                span.illus-actu {
                    img{
                      @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                        @include adaptable-img();
                        //taillle de l'image sur la liste, évite marge due au format.Inutile si utilise mixin adaptable-img
                     //transform: translate(0%) scale(1.4);//Position de l'image d'illustration
                      }

                    }
                    >a {//uniquement les "a" sur l'image
                        position:relative;//pour overlay image
                        &:before{

                            @include image-overlay('motif_img_overlay.png', 0 0, repeat);
                        }
                    }
                }


            }// Fin li

        }// Fin ul.liste-actus
        nav.pager{
            ul.pager__items{
              li{
                //Couleurs du pager
                &.is-active, &.pager__item--active{
                  background: $gris-clair-typo;
                  display: block;
                }
              }
            }
            }//Fin nav.pager

    }// Fin aside
}// Fin zone-1
#zone-2.type-page-actualites-globales{

}






#zone-3.type-page-actualites-globales{

}
